body {
    font-family: "Helvetica";
	background-image: url("img/background.png");
    background-repeat: no-repeat;
	background-position:center center;
    /*background-position: right top;*/
    /*background-attachment: fixed;*/
}

h1 {
    text-align: center;
    color: #555;
}

/* Placement global */
#dashboard {
    width: 80%;
	background-color : #FFFFFF;
    margin: 0 auto;
}

/* pour affichage < 800px de large */
@media screen and (max-width: 800px) {
    #dashboard {
        width: 100%;
    }
}
/* map */

#graphiqueMonde {
	overflow:hidden;
}

#worldMap {
	margin-left: auto;
	margin-right: auto;
	width: 750px; 
	height: 500px;
}

.datamaps-legend {
	position: static;
	float:right;
	margin-left: auto;
	margin-right: auto;
	margin-bottom :15px;
	width: 700px; 
	height: 20px;
}

.datamaps-legend dl {
  text-align: center;
  display: inline-block;
}

/* Centrage des div conteneurs */
#tab, #columnChart, #barChart {
    text-align: center;
}


/* pour pieChart */
#pieChart {
  margin-bottom :15px;
  margin-left: auto;
  margin-right: auto;
  width: 750px; 
  height: 400px;
}

.arc path {
    opacity: 0.8;
}
.arc path:hover {
    stroke-width: 2px;
    stroke: gray;
    opacity: 1;
}

.legend {
	font-size: 12px;
}                                                          
legend.rect {
	stroke-width: 2;
}