body {
    font-family: "Helvetica";
	background-image: url("img/background.png");
    background-repeat: no-repeat;
	background-position:center center;
    /*background-position: right top;*/
    /*background-attachment: fixed;*/
}

h1 {
    text-align: center;
    color: #555;
}

/* navbar */
.nav ul {
  list-style: none;
  background-color: #C8F7C5;
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}
 
.nav a {
  text-decoration: none;
  color: #ffffff;
  display: block;
  transition: .3s background-color;
}
 
.nav a:hover {
  background-color: #005f5f;
}
 
.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}
 
@media screen and (min-width: 600px) {
    .nav li {
        width: 120px;
        border-bottom: none;
        height: 50px;
        line-height: 50px;
        font-size: 1.4em;
    }

    .nav li {
        display: inline-block;
        margin-right: -4px;
    }

    /* Placement global */
    #dashboard {
        width: 80%;
        margin: 0 auto;
    }
}
/* pour affichage < 800px de large */
@media screen and (max-width: 800px) {
    #dashboard {
        width: 100%;
    }
}
/* map */

#graphiqueMonde {
	overflow:hidden;
	border-radius: 10px;
    background-color : #C8F7C5;
	margin :15px;
	padding : 5px;
}

#worldMap {
	margin-left: auto;
	margin-right: auto;
	margin-top :15px;
	width: 800px; 
	height: 500px;
	border-radius: 15px;
	border-color: #90C695;
	border-width : 5px;
	border-style: solid;
    background-color : #FFFFFF;
}

.datamaps-legend {
	position: static;
	float:right;
	margin-left: auto;
	margin-right: auto;
	margin-bottom :15px;
	width: 700px; 
	height: 20px;
}

.datamaps-legend dl {
  text-align: center;
  display: inline-block;
}

/* Centrage des div conteneurs */
#tab, #columnChart, #barChart {
    text-align: center;
}


/* pour pieChart */
#pieChart {
  margin :15px;
  padding : 10px;
  width: 750px; 
  height: 400px;
  border-radius: 10px;
  border-color: #6BB9F0;
  background-color : #C8F7C5;
}

.arc path {
    opacity: 0.8;
}
.arc path:hover {
    stroke-width: 2px;
    stroke: gray;
    opacity: 1;
}

.legend {
	font-size: 12px;
}

legend.rect {
	stroke-width: 2;
}

.bar {
    background-color: dodgerblue;
    border: 1px solid darkblue;
    margin-top : 1px;
}